@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media only screen and (max-width: 770px) {
    .listProduct {
        grid-template-columns: repeat(2, 1fr);
    }
}



@keyframes cartFlash {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}



 @media screen and (max-width:770px){
    .banner-text h1{
      font-size:44px;
      font-style: serif;
    }
    .banner-btn a {
        display: block;
        margin: 20px auto;
    }
    
  }


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
a{
	text-decoration: none;	
	color: #000;

}
:root {
	--primary-color: c7a17a;
	--background-color: #f9f5f0;
	--dark-color: #151515;
}

html {
	font-size: 62.5%;
	font-family: 'Poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ********************************** */
/*             UTILIDADES             */
/* ********************************** */
.container {
	max-width: 120rem;
	margin: 0 auto;
}

.heading-1 {
	text-align: center;
	font-weight: 500;
	font-size: 3rem;
}

/* ********************************** */
/*               HEADER               */
/* ********************************** */
.container-hero {
	background-color: var(--background-color);
}

.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
}

.soporte-cliente {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.soporte-cliente i {
	font-size: 3.3rem;
}

.contenido-soporte-cliente {
	display: flex;
	flex-direction: column;
}

.container-logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.container-logo i {
	font-size: 3rem;
}

.container-logo h1 a {
	text-decoration: none;
	color: #000;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: -1px;
}

.container-user {
	display: flex;
	gap: 1rem;
	cursor: pointer;
}

.container-user .fa-user {
	font-size: 3rem;
	color: var(--primary-color);
	padding-right: 2.5rem;
	border-right: 1px solid #e2e2e2;
}

.container-user .fa-basket-shopping {
	font-size: 3rem;
	color: var(--primary-color);
	padding-left: 1rem;
}

.contenido-shopping-cart {
	display: flex;
	flex-direction: column;
}

/* ************* NAVBAR ************* */
.container-navbar {
	background-color: var(--primary-color);
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
	position: relative;
}

.menu-toggle {
    display: none;
}

.navbar .fa-bars {
	display: none;
	cursor: pointer;
}

.menu {
	display: flex;
	gap: 2rem;
}

.menu li {
	list-style: none;
}

.menu a {
	text-decoration: none;
	font-size: 1.3rem;
	color: var(--dark-color);
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
}

.menu a::after {
	content: '';
	width: 1.5rem;
	height: 1px;
	background-color: #ffffff;
	position: absolute;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%, 50%);
	opacity: 0;
	transition: all 0.3s ease;
}

.menu a:hover::after {
	opacity: 1;
}

.menu a:hover {
	color: #824242;
}

.search-form {
	position: relative;
	display: flex;
	align-items: center;
	border: 2px solid #fff;
	border-radius: 2rem;
	background-color: #fff;
	height: 4.4rem;
	overflow: hidden;
}

.search-form input {
	outline: none;
	font-family: inherit;
	border: none;
	width: 25rem;
	font-size: 1.4rem;
	padding: 0 2rem;
	color: #777;
	cursor: pointer;
}

.search-form input::-webkit-search-cancel-button {
	appearance: none;
}

.search-form .btn-search {
	border: none;
	background-color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 1rem;
}

.btn-search i {
	font-size: 2rem;
	color: #fff;
}

/* Responsive Estilo */
@media (max-width: 768px) {
    .navbar .fa-bars {
        display: block;
    }

	.menu-toggle {
        display: none;
    }

    .menu {
        display: none;
        flex-direction: column;
        gap: 1rem;
        background-color: var(--primary-color);
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 0;
    }

    .menu-toggle:checked + .fa-bars + .menu {
        display: flex;
    }

    .menu li {
        text-align: center;
    }
	.menu a {
        color: #ffffff; /* Para Asegurar de que el color del texto sea visible sobre el fondo del menú */
    }
}


/* ********************************** */
/*               BANNER               */
/* ********************************** */
.banner {
	background-image: linear-gradient(100deg, #484848, #00000020),
		url('https://i.etsystatic.com/38073655/r/il/c2e76a/4477274351/il_794xN.4477274351_s51f.jpg');
	height: 60rem;
	background-size: cover;
	background-position: center;
}

.contenido-banner {
	max-width: 90rem;
	margin: 0 auto;
	padding: 25rem 0;
}

.contenido-banner p {
	color: var(--primary-color);
	font-size: 1.2rem;
	margin-bottom: 1rem;
	font-weight: 500;
}

.contenido-banner h2 {
	color: #f0eaea;
	font-size: 3.5rem;
	font-weight: 500;
	line-height: 1.2;
}

.contenido-banner a {
	margin-top: 2rem;
	text-decoration: none;
	color: #ede6e6;
	background-color: var(--primary-color);
	display: inline-block;
	padding: 1rem 3rem;
	text-transform: uppercase;
	border-radius: 3rem;
}

/* ********************************** */
/*            MAIN CONTENIDO       */
/* ********************************** */
.main-contenido {
	background-color: var(--background-color);
}			


/* ********************************** */
/*              CARCTERISTICAS              */
/* ********************************** */
.container-caracteristicas2 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 3rem;
	padding: 3rem 0;
}

.card-caracteristicas {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;

	background-color: #e7dbd4e2;
	border-radius: 1rem;
	padding: 1.5rem 0;
}

.card-caracteristicas i {
	font-size: 2.7rem;
	color: var(--primary-color);
}

.caracteristicas-contenido {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.caracteristicas-contenido span {
	font-weight: 700;
	font-size: 1.2rem;
	color: var(--dark-color);
}

.caracteristicas-contenido p {
	color: #291a03;
	font-weight: 500;
}

/* ********************************** */
/*             CATEGORIAS          */
/* ********************************** */

.top-categorias {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

.container-categorias {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
}

.card-categoria {
	height: 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 2rem;
	gap: 2rem;
}

.categoria-aromatica {
	background-image: linear-gradient(#00000080, #00000080),
		url('https://content.revistainteriores.es/medio/2023/12/12/velas-aromaticas-artesanales_12a5b249_231212162955_1280x794.jpg');
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

.categoria-esencial {
	background-image: linear-gradient(#00000080, #00000080),
		url('https://elementosesenciales.com.ar/wp-content/uploads/2023/05/4-7-900x900.webp');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.categoria-decorativa {
	background-image: linear-gradient(#00000080, #00000080),
		url('https://arredo.vtexassets.com/arquivos/ids/771193-500-auto?v=638381758694370000&width=500&height=auto&aspect=true');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.card-categoria p {
	font-size: 2.5rem;
	color: #fff;
	text-transform: capitalize;
	position: relative;
}

.card-categoria p::after {
	content: '';
	width: 2.5rem;
	height: 2px;
	background-color: #fff;
	position: absolute;
	bottom: -1rem;
	left: 50%;
	transform: translate(-50%, 50%);
}

.card-categoria span {
	font-size: 1.6rem;
	color: #fff;
	cursor: pointer;
}

.card-categoria span:hover {
	color: var(--primary-color);
}

/* ********************************** */
/*            TOP PRODUCTOS           */
/* ********************************** */
.top-productos {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

.container-opciones {
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin-bottom: 1rem;
}

.container-opciones span {
	color: #777;
	background-color: #fff;
	padding: 0.7rem 3rem;
	font-size: 1.4rem;
	text-transform: capitalize;
	border-radius: 2rem;
	cursor: pointer;
}

.container-opciones span:hover {
	background-color: var(--primary-color);
	color: #fff;
}

.container-opciones span.activo {
	background-color: var(--primary-color);
	color: #fff;
}

/* Productos */

.container-productos {
	display: flex;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 3rem;
}

.carta-producto {
	background-color: #fff;
	padding: 2rem 3rem;
	border-radius: 0.5rem;
	cursor: pointer;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.container-img {
	position: relative;
}

.container-img img {
	width: 100%;
}

.container-img .discount {
	position: absolute;
	left: 0;
	background-color: var(--primary-color);
	color: #fff;
	padding: 2px 1.2rem;
	border-radius: 1rem;
	font-size: 1.2rem;
}

.carta-producto:hover .discount {
	background-color: #000;
}

.button-grupo {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	position: absolute;
	top: 0;
	right: -3rem;
	z-index: -1;
	transition: all 0.4s ease;
}

.button-grupo span {
	border: 1px solid var(--primary-color);
	padding: 0.8rem;

	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.4s ease;
}

.button-grupo span:hover {
	background-color: var(--primary-color);
}

.button-grupo span i {
	font-size: 1.5rem;
	color: var(--primary-color);
}

.button-grupo span:hover i {
	color: #fff;
}

.carta-producto:hover .button-grupo {
	z-index: 0;
	right: -1rem;
}

.content-carta-producto {
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(4, min-content);
	row-gap: 1rem;
}

.estrella {
	grid-row: 1/2;
	grid-column: 1/-1;
}

.estrella i {
	font-size: 1.3rem;
	color: var(--primary-color);
}

.contenido-carta-producto h3 {
	grid-row: 2/3;
	grid-column: 1/-1;

	font-weight: 400;
	font-size: 1.6rem;
	margin-bottom: 1rem;
	cursor: pointer;
}

.contenido-carta-product h3:hover {
	color: var(--primary-color);
}

.agregar-carta {
	justify-self: start;
	border: 2px solid var(--primary-color);
	padding: 1rem;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.4s ease;

	display: flex;
	align-items: center;
	justify-content: center;
}

.agregar-carta:hover {
	background-color: var(--primary-color);
}

.agregar-carta i {
	font-size: 1.5rem;
	color: var(--primary-color);
}

.agregar-carta:hover i {
	color: #fff;
}

.contenido-carta-producto .precio {
	justify-self: end;
	align-self: center;
	font-size: 1.2rem;
	font-weight: 600;
}

.contenido-carta-producto .precio span {
	font-size: 1.5rem;
	font-weight: 400;
	text-decoration: line-through;
	color: #777;
	margin-left: 0.5rem;
}

/* ********************************** */
/*               GALLERY              */
/* ********************************** */

.galleria {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 30rem);
	gap: 1.5rem;
	margin-bottom: 3rem;
}

.galleria img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.galleria-img-3 {
	grid-column: 2/4;
	grid-row: 1/3;
}

/* ********************************** */
/*              ESPECIALES              */
/* ********************************** */

.especiales {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

/* ********************************** */
/*                BLOGS               */
/* ********************************** */

.blogs {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.container-blogs {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
}

.carta-blog {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.carta-blog .container-img {
	border-radius: 2rem;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.button-grupo-blog {
	position: absolute;
	bottom: 1.5rem;
	right: -2.5rem;

	display: flex;
	gap: 0.7rem;
	z-index: -1;
	transition: all 0.3s ease;
}

.carta-blog:hover .button-group-blog {
	z-index: 0;
	right: 1.5rem;
}

.button-grupo-blog span {
	background-color: #fff;
	padding: 1rem;
	border-radius: 50%;
	transition: all 0.4s ease;

	display: flex;
	align-items: center;
	justify-content: center;
}

.button-grupo-blog span i {
	font-size: 1.3rem;
}

.button-grupo-blog span:hover {
	background-color: var(--primary-color);
}

.button-grupo-blog span:hover i {
	color: #fff;
}

.contenido-blog h3 {
	font-size: 1.8rem;
	margin-bottom: 1.7rem;
	color: var(--dark-color);
	font-weight: 500;
}

.contenido-blog h3:hover {
	color: var(--primary-color);
	cursor: pointer;
}

.contenido-blog p {
	margin-top: 1rem;
	font-size: 1.4rem;
	color: #777;
}

.contenido-blog span {
	color: var(--primary-color);
	font-size: 1.3rem;
}

.btn-leer-mas {
	padding: 1rem 3rem;
	background-color: var(--primary-color);
	color: #fff;
	text-transform: uppercase;
	font-size: 1.4rem;
	border-radius: 2rem;
	margin: 3rem 0 5rem;
	display: inline-block;
	cursor: pointer;
}

.btn-leer-mas:hover {
	background-color: var(--dark-color);
}

/* ********************************** */
/*               FOOTER               */
/* ********************************** */

.footer {
	background-color: var(--primary-color);
}

.container-footer {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: 1.5rem;
}

.menu-footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr) 30rem;
	gap: 3rem;
	justify-items: center;
}

.titulo-footer {
	font-weight: 600;
	font-size: 1.6rem;
	text-transform: uppercase;
}

.contacto-info,
.informacion{
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.contacto-info ul,
.informacion ul{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	color: #000;
}

.contacto-info ul li,
.informacion ul li{
	list-style: none;
	color: #1f1e1e;
	font-size: 1.4rem;
	font-weight: 300;
}

.informacion ul li a{
	text-decoration: none;
	color: #090909;
	font-weight: 300;
}

.informacion ul li a:hover{
	color: var(--dark-color);
}

.social-iconos {
	display: flex;
	gap: 1.5rem;
}

.social-iconos span {
	border-radius: 50%;
	width: 3rem;
	height: 3rem;

	display: flex;
	align-items: center;
	justify-content: center;
}

.social-iconos span i {
	color: #282626;
	font-size: 1.2rem;
}

.facebook {
	background-color: #3b5998;
}

.twitter {
	background-color: #00acee;
}

.youtube {
	background-color: #c4302b;
}

.pinterest {
	background-color: #c8232c;
}

.instagram {
	background: linear-gradient(
		#405de6,
		#833ab4,
		#c13584,
		#e1306c,
		#fd1d1d,
		#f56040,
		#fcaf45
	);
}

.content p {
	font-size: 1.4rem;
	color: #1f1d1d;
	font-weight: 300;
}

.content input {
	outline: none;
	background: none;
	border: none;
	border-bottom: 2px solid #63605c;
	cursor: pointer;
	padding: 0.5rem 0 1.2rem;
	color: var(--dark-color);
	display: block;
	margin-bottom: 3rem;
	margin-top: 2rem;
	width: 100%;
	font-family: inherit;
}

.content input::-webkit-input-placeholder {
	color: #201c1c;
}

.content button {
	border: none;
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
	padding: 1rem 3rem;
	border-radius: 2rem;
	font-size: 1.4rem;
	font-family: inherit;
	cursor: pointer;
	font-weight: 600;
}

.content button:hover {
	background-color: var(--background-color);
	color: var(--primary-color);
}

.copyright {
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;

	border-top: 1px solid #d2b495;
}

.copyright p {
	font-weight: 400;
	font-size: 1.6rem;
}

/* ********************************** */
/*       MEDIA QUERIES -- 768px       */
/* ********************************** */

@media (max-width: 768px) {
	html {
		font-size: 55%;
	}

	.hero {
		padding: 2rem;
	}

	.soporte-cliente {
		display: none;
	}

	.contenido-shopping-cart {
		display: none;
	}

	.navbar {
		padding: 1rem 2rem;
	}

	.navbar .fa-bars {
		display: block;
		color: #fff;
		font-size: 3rem;
	}

	.menu {
		display: none;
	}

	.content-banner {
		max-width: 50rem;
		margin: 0 auto;
		padding: 25rem 0;
	}

	.container-caracteristicas2 {
		grid-template-columns: repeat(2, 1fr);
		padding: 3rem 2rem;
	}

	.card-caracteristicas {
		padding: 2rem;
	}

	.heading-1 {
		font-size: 2.4rem;
	}

	.card-categoria {
		height: 12rem;
	}

	.card-categoria p {
		font-size: 2rem;
		text-align: center;
		line-height: 1;
	}

	.card-categoria span {
		font-size: 1.4rem;
	}

	.container-opciones {
		align-items: center;
	}

	.container-opciones span {
		text-align: center;
		padding: 1rem 2rem;
	}

	.container-productos {
		grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
	}

	.galleria {
		grid-template-rows: repeat(2, 15rem);
	}

	.container-blogs {
		overflow: hidden;
		grid-template-columns: 1fr 1fr;

		height: 52rem;
	}

	.menu-footer {
		grid-template-columns: repeat(2, 1fr);
	}

	.copyright {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1.5rem;
	}
}

/* ********************************** */
/*       MEDIA QUERIES -- 468px       */
/* ********************************** */

@media (max-width: 468px) {
	html {
		font-size: 42.5%;
	}

	.contenido-banner {
		max-width: 50rem;
		padding: 22rem 0;
	}

	.heading-1 {
		font-size: 2.8rem;
	}

	.card-caracteristicas {
		flex-direction: column;
		border-radius: 2rem;
	}

	.caracteristicas-contenido {
		align-items: center;
	}

	.caracteristicas-contenido p {
		font-size: 1.4rem;
		text-align: center;
	}

	.caracteristicas-contenido span {
		font-size: 1.6rem;
		text-align: center;
	}

	.container-opciones span {
		font-size: 1.8rem;
		padding: 1rem 1.5rem;
		font-weight: 500;
	}

	.container-productos {
		grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
		gap: 1rem;
	}

	.container-img .discount {
		font-size: 2rem;
	}

	.content-carta-producto h3 {
		font-size: 2.2rem;
	}

	.galleria {
		grid-template-rows: repeat(2, 20rem);
	}

	.blogs {
		padding: 2rem;
	}

	.container-blogs {
		grid-template-columns: 1fr;
		height: 75rem;
	}

	.contenido-blog h3 {
		font-size: 2.4rem;
	}

	.contenido-blog span {
		font-size: 1.8rem;
	}

	.contenido-blog p {
		font-size: 2.2rem;
	}

	.btn-leer-mas{
		font-size: 1.8rem;
	}

	.contacto-info ul,
	.informacion ul{
		display: none;
	
	}

	.contacto-info {
		align-items: center;
	}

	.menu-footer{
		grid-template-columns: 1fr;
	}

	.contenido p{
		font-size: 1.6rem;
	}
}